<form class="ui form container grid center aligned">
    <div class="sixteen column row container">
        <h2>NOUS CONTACTER</h2>
    </div>
    <div class="two column row">
        <div class="column">
            <div class="field">
                <select class="ui fluid dropdown">
                    <option value="Question">Question / Information</option>
                    <option value="Bug">Bug / Problème</option>
                    <option value="Evolution">Proposition d'évolution</option>
                </select>
            </div>
            <div class="field">
                <input placeholder="Votre nom *" name="name" type="text">
            </div>
            <div class="field">
                <input placeholder="Votre email" name="email" type="email">
            </div>
            <div class="field">
                <input placeholder="Telephone" name="phone" type="tel">
            </div>
        </div>
        <div class="column">
            <div class="inline field">
                <textarea name="message" placeholder="Votre message*"></textarea>
            </div>
        </div>
    </div>
    <div class="ui primary submit large button">Envoyer</div>
</form>
