<header>
    <nav class="ui fixed menu borderless">
        <div class="ui container">
            <a routerLink="/" class="header item">
                <img class="logo" src="assets/images/logo.png">
            </a>
            <a *ngIf="isAuthenticated" class="item" routerLink="rides">Mes trajets</a>
            <a *ngIf="isAuthenticated" class="item" routerLink="rides/add">Nouveau trajet</a>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Chercher un trajet..." (keyup.enter)="search()" [(ngModel)]="searchTerm">
                        <i class="search link icon" (click)="search()"></i>
                    </div>
                </div>
                <a *ngIf="!isAuthenticated" routerLink="connect" class="item">Se connecter</a>
                <span *ngIf="isAuthenticated" class="ui item">{{ user.name }}</span>
                <a *ngIf="isAuthenticated" class="item" (click)="logout()">Se déconnecter</a>
            </div>
        </div>
    </nav>
</header>
