<div class="ui grid container center aligned">
    <div class="sixteen column row ">
        <h2>Proposer un trajet</h2>
    </div>
    <div class="three column row">
        <div class="column">
            <form class="ui form">
                <div class="field">
                    <input type="text" name="start" placeholder="Adresse de départ">
                </div>
                <div class="field">
                    <input type="time" name="startHour" placeholder="Heure de départ">
                </div>
                <div class="field">
                    <input type="text" name="finish" placeholder="Adresse d'arrivée">
                </div>
                <div class="field">
                    <input type="time" name="finishtHour" placeholder="Heure de d'arrivée">
                </div>
                <div class="field">
                    <input type="date" name="date" placeholder="Date">
                </div>
                <div class="field">
                    <input type="text" name="detour" placeholder="Détour possible (mètres)">
                </div>
                <div class="field">
                    <select class="ui search dropdown">
                        <option value="">Récurrence</option>
                        <option value="week">Tous les jours de la semaine</option>
                        <option value="monday">Tous les lundi</option>
                        <option value="tuesday">Tous les mardi</option>
                        <option value="wednesday">Tous les mercredi</option>
                        <option value="thursday">Tous les jeudi</option>
                        <option value="friday">Tous les vendredi</option>
                    </select>
                </div>
                <div class="field">
                    <select class="ui search dropdown">
                        <option value="">Places disponibles</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <button class="ui button large teal" type="submit">Itineraire</button>
                <button class="ui button large teal" type="submit">Valider</button>
            </form>
        </div>
        <div class="column">
            <sebm-google-map [latitude]="lat" [longitude]="lng"></sebm-google-map>
        </div>
    </div>
</div>
