<div class="ui hidden divider"></div>
<div class="ui raised very padded text container">
    <div class="ui stacked segment">
        <div *ngIf="!trip; else tripDetails">
            <h2>Mes trajets à venir</h2>
            <div *ngIf="coming.length > 0; else noComingTrips">
                <div class="ui items middle aligned divided list">
                    <div class="item" *ngFor="let trip of coming" (click)="details(trip)">
                        <div class="content">
                            <div class="right floated content">
                                <button class="ui red button" (click)="cancel(trip, $event)">Cancel</button>
                            </div>
                            <a class="ui tiny header">{{ trip.departure }}<i class="long arrow right icon" style="margin: 0 .5rem"></i>{{ trip.arrival }}</a>
                            <div class="extra">
                                <i class="calendar outline icon"></i>{{ trip.departureTime | date:'d MMMM y, hh:mm' }} - {{ trip.arrivalTime | date:'hh:mm' }}
                            </div>
                            <div class="meta">
                                <span>{{ trip.driver }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noComingTrips>
                <div class="ui message">
                    <p>
                        Vous n'avez aucun trajet &agrave; venir.
                    </p>
                </div>
            </ng-template>

            <h2>Mes trajets effectu&eacute;s</h2>
            <div class="ui items middle aligned divided very relaxed list">
                <div class="item ui raised very padded" *ngFor="let trip of completed" (click)="details(trip)">
                    <div class="content">
                        <a class="ui tiny header">{{ trip.departure }}<i class="long arrow right icon" style="margin: 0 .5rem"></i>{{ trip.arrival }}</a>
                        <div class="extra">
                            <i class="calendar outline icon"></i>{{ trip.departureTime | date:'d MMMM y, hh:mm' }} - {{ trip.arrivalTime | date:'hh:mm' }}
                        </div>
                        <div class="meta">
                            <span>{{ trip.driver }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #tripDetails>
            <a (click)="backAll()" class="clickable"><i class="angle left icon"></i>Mes trajets</a>
            <div class="ui hidden divider"></div>
            <app-trip-details [trip]="trip"></app-trip-details>
            <div>
                <button class="ui red button" (click)="cancel(trip, $event, true)">Cancel</button>
            </div>
        </ng-template>
    </div>
</div>
