<footer>
    <div class="ui center aligned container">
        <div class="ui horizontal inverted small divided link list">
            <p>
                <button class="ui facebook button">
                    <i class="facebook icon"></i>
                    Facebook
                </button>
                <button class="ui twitter button">
                    <i class="twitter icon"></i>
                    Twitter
                </button>
            </p>
            <p>
                <img id="igsLogo" src="../assets/images/igs-logo.png" alt="igs">
            </p>
        </div>
    </div>
</footer>
