<div id="homeHead">
    <div class="ui grid center aligned">
        <div class="sixteen wide column">
            <div class="ui text container">
            <h1>
                COVOIT IGS
            </h1>
            <h3>UNE SOLUTION ÉCONOMIQUE ET ÉCOLOGIQUE</h3>
            <a href="#service" class="ui huge primary button">Covoiturons ensemble</a>
            </div>
        </div>
    </div>
</div>
<div id="service">
    <div class="ui grid container stackable center aligned">
        <div class="sixteen column row">
            <h2>NOS SERVICES</h2>
        </div>
        <div class="three column row">
            <div class="column">
                <i class="big circular inverted car icon"></i>
                <h3>Proposer un trajet</h3>
                <p>Vous êtes conducteur ?<br>Proposer votre parcours</p>
                <a href="rides/add" class="ui orange button">En savoir plus</a>
            </div>
            <div class="column">
                <i class="big circular inverted user icon"></i>
                <h3>Rechercher un trajet</h3>
                <p>Vous chercher un transport ?<br>Déposer votre demande de trajet</p>
                <a href="#" class="ui orange button">En savoir plus</a>
            </div>
            <div class="column">
                <i class="big circular inverted mail icon"></i>
                <h3>Nous contacter</h3>
                <p>Des idées ? Des questions ?<br>Contactez nous</p>
                <a href="#contact" class="ui orange button">En savoir plus</a>
            </div>
        </div>
    </div>
</div>
<div class="ui divider" style="width: 80%; max-width: 1140px; margin: 30px auto;"></div>
<div id="contact">
    <app-contact></app-contact>
</div>
