$colorService: #607D8B;
$colorContact: #455A64;
$fontColorIcon: #00796B;
$colorH2WithBackground: White;
$paddingBloc: 50px;

#homeHead {
    padding: $paddingBloc;
    background-image: url("../../assets/images/toulouse.jpg");
    color: white;
    text-shadow: 0 0 60px rgba(0, 0, 0, .2);

    .grid {
        display: table;
        position: relative;
        vertical-align: middle;
        width: 100%;
        height: 450px;

        .sixteen {
            display: table-cell;
            vertical-align: middle;
            text-align: center;

            h1 {
                font-size: 4.5em;
            }
            h3 {
                font-size: 24px;
            }
        }
    }
}

#service {
    // background-color: $colorService;
    padding: $paddingBloc;

    i {
        background-color: $fontColorIcon !important;
    }
}

#contact {
    // background-color: $colorContact;
    padding: $paddingBloc;
}


